<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="row">
		<div class="col s12 m8">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title"><h4>Lista de Tarefas</h4></span>
					<div class="col-xs-6 col-md-6">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Id</th>
									<th>Descrição</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tasks : ${lista}">
									<td th:text="${tasks.id}"></td>
									<td th:text="${tasks.descricao}"></td>
									<td><a
										th:href="@{/tasks/atualizar/{id}(id = ${tasks.id})}"
										class="btn btn-primary">Finalizar tarefa</a></td>
								</tr>
							</tbody>
						</table>
						<a class="waves-effect waves-light btn" href="/tasks/novo">Criar
							tarefa</a>
						<th:form>
							<form action="" th:action="@{/tasks/deletar}" th:method="post">
								<button type="submit" class="waves-effect waves-light btn">Limpar
									Lista</button>
							</form>
						</th:form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>